.NavBar {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(97, 97, 97, 0.1) 0px,
      rgba(97, 97, 97, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(43, 43, 43), rgb(43, 43, 43));
  width: 100%;
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.fourColumn{
  display: flex;
  align-items: center;
}

.welcome{
  display: flex;
  width: 200px;
  justify-content: center;
  border-radius: 30px;
  background-color: black;
  color: white;  
  font-weight: bold;
  padding: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 6px white;
  height: fit-content;
}

.closeSesion{
  border: 1px solid red;
    background-color: red;
    border-radius: 30px;
    border: 1px solid white;
    width: 80px;
    justify-content: center;
    align-self: center;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
}

.closeSesion:hover{
  cursor: pointer;
  color: white;
  box-shadow: 0px 0px 3px white;
}

.searchBar {
  width: 80%;
  height: 3vh;
  background-color: rgb(122, 122, 122);
  font-size: 16px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 6px 6px 6px;
  margin-top: 3vh;
}

.form {
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.searchInput {
  width: 100%;
  height: 1.5rem;
  border: none;
  background-color: rgb(122, 122, 122);
  color: black;
  text-indent: 0.5rem;
}

.searchInput::placeholder {
  font-size: 15px;
  color: black;
}

.searchInput:focus {
  width: 100%;
  height: 1.5rem;
  border: none;
  filter: brightness(130%);
  outline: none;
  transition: 400ms;
}

.logo {
  height: 7vh;
  margin-top: 3vh;
  filter: invert(100%);
}

.button {
  color: rgb(231, 231, 231);
  text-decoration: none;
  padding: 5px 20px 0px 10px;
  font-size: 2vh;
}

.button:hover {
  text-shadow: 0px 0px 2px #ffffff;
  color: white;
  transition: 500ms;
}

.buttonEnter {
  margin-left: 2vw;
  background-color: #F49E51;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border: none;
  padding: 3px 15px 3px 15px;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonCart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: #F49E51;
  border-radius: 5rem;
  border:none;
}

.buttonFavorites{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #F49E51;
  border-radius: 5rem;
  border:none;
  margin-right: 1.5rem;
  cursor: pointer;
}

.buttonCart:hover{
  filter: brightness(130%);
  transition: 400ms;
}

.buttonFavorites:hover{
  filter: brightness(130%);
  transition: 400ms;
}
.buttonImg{
  width: 25px;
  height: 25px;
  filter: invert(100%);
}

.buttonEnter:hover {
  filter: brightness(130%);
  transition: 400ms;
}

.buttonsRight {
  margin-top: 3.5vh;
  margin-right: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textDecoration{
  text-decoration: none;
}

.autocomplete {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 2vw;
  background-color: transparent;
}

.autocomplete > input {
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 0;
  width: 84%;
  padding: 0.5rem 0.5rem;
}

.autocomplete > input:hover {
  filter: brightness(1.1);
}

.searchInput:focus-within > .autocomplete {
  visibility: visible;
  cursor: pointer;
}

.lupa {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.inputContainer {
  display: flex;
}

.unfav {
  background-color: transparent;
  transform: scale(1.5);
  border: none;
  cursor: pointer;
  margin: auto;
  color: red;
  transition: color 2000ms;
}

.unfav:hover {
  color: grey;
}

.buttonsRightEnter{
  display: flex;
  justify-content: space-around;
}

.SearchBarContainer{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 21.375rem;
}
.searchFa{
  display:none;
}
.mobileIcons{
  display:flex;
}
.menuMask{
  display:none;
}
.hamburguesa{
  display:none;
}
.menuhamburguesa{
  display:none;
}
.SearchBarContainerHamgurguer{
  display:none;
}
.ButtonsNavBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

@media only screen and (max-width:768px){
  .searchFa{
    display: block;
    position: absolute;
    transform:translate(-100%,60%);
    font-size:1.8rem;
    cursor:pointer;
    color:#fff;
  }
  .SearchBarContainer{
    display: none;
  }
  .SearchBarContainerHamgurguer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2rem;
    justify-content: space-evenly;
    height: 5rem;
    margin-top: 10px;
    margin-left: unset;
  }
  .searchBarHamburguer{
    width: 70%;
    background-color: black;
    color:black;
  }
  .buttonsHamburguer a{
    color:black;
  }
  .inputContainerHamburguer{
    height:fit-content;
    background-color: white;
    border:none;
    height:unset;
  }
  .searchInputHamburguer{
    max-width: 10rem;
    background-color: antiquewhite;
    border: none;
    height: 30px;
    border-radius: 10px;
  }

}

@media only screen and (max-width:1024px){
  .ButtonsNavBar{
    display: none;
    color:black
  }
  .hamburguesa{
    /* z-index: 200; */
      display: block;
      position: absolute;
      top: 0;
      right:0;
      transform:translate(-100%,60%);
      font-size:1.8rem;
      cursor:pointer;
      color:#fff;
  }
  .menuMask{
    display:flex;
    position: absolute;
    z-index:101;
    height: 40%;
    bottom:10;
    right:0;
    width: 8%;
    background-color: black;
  }
  .menuhamburguesa{
    display:flex;
    flex-direction: column;
    justify-content:center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
    position: absolute;
    z-index: 100;
    bottom:10;
    right: 0;
    height: 40%;
    width:60%;
    background-color: white;
  }
  .buttonsRightEnter{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:start;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  .textDecoration{
    align-self:center;
  }
  .closeSesion{
    align-self:center;
  }
  .buttonEnter{
    margin:0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* .buttonsRight {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  height: 3rem;
} */

/* @media only screen and (max-width:800px){
  .NavBar {
    /* position:fixed;
    overflow-y: auto;
    z-index: 1000; }}*/