.container  {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 4vh 20vw;
}

.subcontainer {
	margin: auto;
	margin-bottom: 0.5vh;
	border: 1px solid black;
	width: 50%;
	height: 10vh;
	text-decoration: none;
	color: black;
	transition: 500ms;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.subcontainer:hover {
	transform: scale(1.02);
	box-shadow: 0 0 0.3rem;
}

.subcontainerNoFuncional {
	margin: auto;
	margin-bottom: 0.5vh;
	border: 1px solid black;
	width: 50%;
	height: 10vh;
	text-decoration: none;
	color: black;
	transition: 500ms;
	font-size: 20px;
}