.container {
	display: flex;
	flex-direction: column;
	margin: 5vh 10vw;
}

.filter {
	margin: 2vh 0;
}

.subcontainer {
	margin: 1vh 2vw;
	padding: 2rem;
	width: 100%;
	margin: auto;
}

.detail {
	display: flex;
	flex-direction: column;
}

.subdetail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit {
	text-decoration: none;
	background-color: lightgrey;
	color: black; 
	border: 1px solid black; 
	padding: 1rem;
	border-radius: 1rem;
	transition: 250ms;
}

.edit:hover {
	background-color: #F49E51;
	transform: scale(1.1);
}