#show,
#hide {
    display: none;
}

div#content {
    display: none;
    padding: 10px;
    background-color: #f6f6f6;
    width: 200px;
    cursor: pointer;
}

input#show:checked~div#content {
    display: block;
}

input#hide:checked~div#content {
    display: none;
}