.Beers-container {
  display: flex;
  flex-direction: column;
  // background-image: repeating-linear-gradient(135deg, rgba(255,255,255, 0.05) 0px, rgba(255,255,255, 0.05) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(67,66,66),rgb(67,66,66));
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0, 0.15) 0px, rgba(0,0,0, 0.15) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgba(0,0,0, 0.78),rgb(170,170,170));
  width: 100%;
  margin: 0px auto;
  padding-bottom: 50px;
  // margin-top: 10em;
  // display: grid;
  // grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
