.Beers-container {
  background-color: rgb(134, 195, 235);
  width: 75vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
//   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
