.detailContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #A9A9A9;
    width: 100vw;
    height: 100vh;
}
.detailViewContainer{
    display: flex;
    flex-direction: column;
    width:80%;
    height:100%;
    margin:0.5rem;
     color:white;
    border-radius: 66px;
    padding:3px;
}
.detailView{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: space-around; */
    color:white;
    background-color:white;
    border-radius: 66px;
    height: 86%;
    box-shadow: 0.5px 0.5px 30px 21px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0.5px 0.5px 30px 21px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0.5px 0.5px 30px 21px rgba(0,0,0,0.1) inset;
}


.priceWODiscount{
    text-decoration:line-through;
    color:#8C8C8C;
}
.discount{
    color:#01E26D;
}
.imageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    margin:0.5rem 0 0.5rem 0.5rem;
    border-top-left-radius: 66px;
    border-bottom-left-radius: 66px;
    width:35%;
    height:30%;
}
.imageSection img{
    max-width: 100%;
    max-height: 80%;
}
.ratingComment p{
    margin: auto;
    color:black;
    text-align: center;
    width: 300px;
}
.reviewsTitle{
    width: 100px;
    color: #F49E51;
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
}
/* .reviews{
    margin-top: 0;
    display:flex;
    flex-direction: column;
} */
.reviews{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.ratingTotal{
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.ratingTotal p{
    margin-bottom:3px;
    margin-top: 1;
}
.ratingStars{
    border-radius: 10px;
    margin-top: -10px;
    min-width: 150px;
    text-align: center;
}
.beerDescription{
    margin:0.5rem 0.5rem 0.5rem 0rem;
    background-color:black;
    width:65%;
    min-width: 45%;
    /* height: 98%; */
    /* max-height: 50rem; */
    min-height: 43rem;
    background: radial-gradient(50% 50% at 50% 50%, #404143 0%, #242021 100%);
    border-top-right-radius: 66px;
    border-bottom-right-radius: 66px;
}

.fav {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    margin: 1vh auto;
    color: black;
    transform: scale(1.5);
    transition: 1000ms;
}
.buttonComprar{
    background-color:#F49E51;
    border:none;
    width:100%;
    min-width:13.625rem;
    height:3rem;
    color:white;
    /* font-size: 1.2rem; */
    font-weight:400;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.addtoCartButton{
    background-color:#69C3C4;
    border:none;
    width:100%;
    min-width:13.625rem;
    height:3rem;
    color:white;
    /* font-size: 20px; */
    font-weight:400;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.buyButtons{
    display: flex;
    width: 49%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fav:hover {
    transform: scale(2);
    color: red;
}

.unfav {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
    margin: 1vh auto;
    color: red;
    transform: scale(1.5);
    transition: 1000ms;
}

.unfav:hover {
    transform: scale(2);
    color: black;
}

.types{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-left:2rem;
    color:#C6C2C2;
}
.types p {
    margin:0;
}

.Head{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items:start;
    text-align:start;
    margin-top: 20px;
}
.Head h1 {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    line-height: 88px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0;
    margin-bottom: 10px;
    max-width:45rem;
    padding-right: 20px;
    padding-left: 10px;
    background-color:#F49E51;
}
.specs{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    width: 400px;
    font-size:20px;
}
.textContent{
    padding:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
}

.buyInfo{
    display:flex;
    /* flex-wrap: wrap-reverse; */
    flex-direction: row-reverse;
    align-content: center;
    justify-content:center;
    width: fit-content;
    margin-top:10%;
}

.socialLinks{
    display: flex;
    align-Items: center;
    justify-Content: center;
}
.socialLinks a{
    margin:1rem;
}

.buttonsPago{
    display:flex;
    align-content: center;
    width:fit-content;
    /* background-color: #515050; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.buttonsPago p{
    margin:0;
}
.originalPrice{
    /* padding-top: 12px; */
    font-size:4rem;
    width:fit-content;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.SecondPrices{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 30px;
}

.share{
    margin-top:5%;
    margin-bottom:-5rem;
}
.infoCompra{
    /* margin-top: 2rem; */
    /* width:fit-content; */
}
.infoCompra h3{
    margin:0;
}
.infoBeer {
    text-align: justify;
}
.infoBeer p {
    min-height:4.2rem;
    /* max-height:4.2rem; */
    /* height:4.2%; */
    height: fit-content;
}
.ratingComment{
    display:flex;
    flex-wrap:wrap;
    text-decoration: none;
    color:black;
    height:100px;
    width:620px;
}
.ratingStars{
    color:black;
}
.portalstyle{
    background-color:red;
}

.soldout{
    font-size: 20px;
    font-weight: 800;
    color: tomato;
    margin-top: 15%;
    transform: rotate(15deg);
}

@media only screen and (max-width:1024px){
    .buttonComprar{
        margin-top: 5px;
        border-radius: 10px;
        width:100%;
        height:3rem;
    }
    .addtoCartButton{
        margin-top: 5px;
        border-radius: 10px;
        width:fit-content;
        height:3rem;
    }
    .buttonsPago{
        width: 50%;
        margin-top: 5px;
        border-radius: 10px;
    }
    .buyInfo{
        margin:0;
        width:30rem;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .share{
        margin:1rem;
    }
}
@media only screen and (max-width:918px){
    .share{
        display:none;
    }
}
@media only screen and (max-width:768px){
    .detailView{
        flex-direction: column;
    }
    .Head{
        position:relative;
        display:block;
        text-align: center;
    }
}