.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 26vw;
  margin: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.192);
    transition: transform 500ms, filter 1000ms;
  border-radius: 1rem;
}



.info{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 12vw;
  background-image: radial-gradient(circle at center center, rgb(64,65,67),rgb(36,32,33));
}



.numberColum{
  margin-top: 3rem;
  color: white;
  font-weight: 600;
}

.description{
  color: white;
  font-weight: 400;

  height: 10rem;
}

.originalPrice{
  color: #8C8C8C;
  font-size: 1.3rem;
  position: absolute;
  margin-top: -5.2rem;
  text-decoration:line-through
}

.discount{
  color: #01E26D;
  font-size: 1.3rem;
  position: absolute;
  margin-top: -4rem;
}

.container:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
  box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.288);
  transition: 600ms;
}

.image {
  margin-top: 0.5rem;
  height: 12.8vw;
}
.stars{
  position: absolute;
  margin-top: -11rem;
  margin-left: 0.3rem;
}

.title{
  position: absolute;
  margin-top: -0.5rem;
  color: white;
  background-color: #F49E51;
  width: fit-content;
  padding: 0.3rem;
  font-size: 1.5rem;
  max-width: 16vw;
  overflow: hidden;
white-space: nowrap;
  text-overflow: ellipsis;
}
.props {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.price{
  color: white;
  position: absolute;
  font-size: 1.8rem;
  margin-top: -2.5rem;
  background-color: #515050;
  width: fit-content;
}
.props > div {
  display: flex;
  justify-content: space-evenly;
}

.fav {
  position: absolute;
  margin-left: 1rem;
  margin-top: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  color: rgb(129, 129, 129);
  transform: scale(1.5);
  transition: 1000ms;
}

.fav:hover {
  transform: scale(2);
  color: tomato;
}

.unfav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  margin: 1vh auto;
  color: red;
  transform: scale(1.5);
  transition: 1000ms;
}

.unfav:hover {
  transform: scale(2);
  color: black;
}