.container {
  background-color: grey;
  display: flex;
  flex-direction: column;
  width: 13vw;
  min-height: fit-content;
  margin: 2vw;
  padding: 2vh 2vw;
  font-weight: bold;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 0.6em;
  border-radius: 10%;
  background-image: radial-gradient(
      circle at 69% 3%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 85% 72%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 8%,
      transparent 8%,
      transparent 92%
    ),
    radial-gradient(
      circle at 43% 49%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 12% 98%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 37% 52%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 22% 59%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 6%,
      transparent 6%,
      transparent 94%
    ),
    radial-gradient(
      circle at 25% 56%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 22% 79%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 80% 81%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    radial-gradient(
      circle at 52% 16%,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0.04) 4%,
      transparent 4%,
      transparent 96%
    ),
    linear-gradient(180deg, rgb(205, 220, 48), rgb(224, 131, 17));
  transition: transform 500ms, filter 1000ms;
}

.container:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
  transition: transform 300ms, filter 300ms;
}

.image {
  height: 11vh;
}

.props {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.props > div {
  display: flex;
  justify-content: space-evenly;
}

.fav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  margin: 1vh auto;
  color: black;
  transform: scale(1.5);
  transition: 1000ms;
}

.fav:hover {
  transform: scale(2);
  color: red;
}

.unfav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  margin: 1vh auto;
  color: red;
  transform: scale(1.5);
  transition: 1000ms;
}

.unfav:hover {
  transform: scale(2);
  color: black;
}