.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
  margin-left: 1rem;
  font-size: small;
}
.subcontainer > h2 {
  margin: 0;
  padding: 0.1em 0.6em;
  border-radius: 1em;
  background-color: #f49e51;
  color: black;
}
.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vh;
}

.subcontainer > div {
  margin: 1.25vh 0.25vw;
  /* width: 18vw */
}

.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.inputDiv > div {
  display: flex;
  align-items: flex-start;
  margin: 0.5vh 1vw;
}

.smallInput {
  width: 3vw;
  border-radius: 0.6em;
  background-color: rgb(238, 238, 238);
}

label + .smallInput {
  margin: 0 1vw;
}

#reset {
  background-color: #f49e51;
  margin: 2vh auto;
  border-radius: 0.3rem;
}

.selects {
  border-radius: 0.6em;
  background-color: rgb(238, 238, 238);
}

.miniSubmit {
  border-radius: 1em;
  background: #f49e51;
  color: rgb(41, 40, 40);
  cursor: pointer;
}
