.postForm{
    display: flex;
    flex-direction: column;
    width: 40em;
    margin-top: -5em;
    align-items: center;
    justify-content:center;
    text-align: center;
    border: 1px solid tomato;
    border-radius: 20px;
}

.container{display: flex; align-items:center;flex-direction: column; float: left; width: 12.75rem; margin: 20px 3%; position: relative;}
:focus{outline: none;}
.input{border: 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.input ~ .focusBorder{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: tomato; transition: 0.4s;}
.input:focus ~ .focusBorder,
.input:valid ~ .focusBorder{width: 100%; transition: 0.4s; left: 0;} .input ~ label{position: absolute; left: 0; width: 100%; top: -15px; color: rgb(61, 61, 61); transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.input ~ label{position: absolute; left: 0; width: 100%; top: -15px; color: rgb(61, 61, 61); transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.input:focus ~ label, .input:valid ~ label{top: -18px; font-size: 12px; color: tomato; transition: 0.3s;}


input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.postFormSubmitButton{
    margin-bottom:30px;
    width:20em;
    background:rgb(92, 221, 135);
}
.postFormBeer{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postFormBeer input{
    height: 2em;
    width:15em;
}
.postFormInfoPost{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.postrow1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:32em;
}
.InfoPostCheckboxes{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.postFormInfoPost input{
    height: 2em;
    width:5em;
}
.postFormInfoPost textarea{
    margin-top: 5px;
    height: 5em;
    width:40em;
}

.postFormCountable{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postFormCountable input{
    height: 2em;
    width:15em;
}

.beerCheckbox{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:29em;
}
.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:29em;
}
.row3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:29em;
}
.row4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:29em;
}

.countablerow{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:29em;
}

.postFormSubmitButton{
    margin-top: 20px;
    background-color:tomato;
    height: 3em;
    border-radius: 8px;
    border:none;
    transition:0.3s;
    font-size: 18px;
    font-weight: 900;
    color:white;
}
.postFormSubmitButton:hover{
    background-color:rgb(142, 216, 142);
    cursor: pointer;
}
/* .btn:hover {
  border: 1px solid transparent;
  color: lightgreen ;
}
.btn::before {
  content: "";
  width:100%;
  height: 100%;
  display: block;
  background: tomato;
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -webkit-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background:lightgreen;
  position: absolute;
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.65s cubic-bezier(0.77, 0, 0.175, 1);
}
.btn:hover::before,
.btn:hover::before {
  opacity: 1;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.btn:hover::after,
.btn:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
} */