.container {
  display: flex;
  justify-content: space-evenly;
}

.subcontainer {
  height: 85vh;
  width: 100%;
  background-color: #e0dede;
}

.subcontainer:hover > * {
  transform: scale(1.1);
}

.categoryName {
  font-weight: bolder;
  font-size: xx-large;
  border: none;
  margin: 5vh auto;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  text-decoration: 2px underline black;
  background-color: transparent;
  transition: 2000ms ease-in-out;
}
h2 {
  transition: 2000ms ease-in-out;
}
.informacion {
  transition: 2000ms ease-in-out;
  margin: 2vh 3vw;
  font-size: larger;
  font-weight: 600;
  text-align: justify;
}

.subcontainer + .subcontainer {
  border-left: 1px solid rgb(98, 96, 96);
}
