.mainContainer {
  display: flex;
  flex-direction: column;
}
.panelTitle {
  font-weight: 800;
  font-size: 18px;
  width: 50%;
  margin-bottom: 10%;
  margin-top: 15%;
  margin-left: 1%;
  transform: skew(-11deg, 0deg);
  background-color: tomato;
}

.menuButton {
  font-size: 1em;
  font-weight: 800;
  color: gray;
  margin-top: 10%;
  text-decoration: none;
  transition: 400ms ease-in-out;
}

.menuButton:hover {
  transform: scale(1.05);
}
.menuButtonBack {
  font-size: 15px;
  font-weight: 800;
  color: gray;
  margin-top: 40%;
  text-decoration: none;
  transition: 400ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuButtonBackImg {
  margin-right: 2%;
  width: 7%;
  filter: invert() brightness(40%);
}

.menuButtonBack:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1024px) {
  .mainContainer {
    flex-direction: row;
  }
  .panelTitle {
    display: none;
  }
  .menuButton {
    color: black;
    margin-top: 0;
    flex-direction: column;
  }
}
