.mainContainer {
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: black;
}

.adminContainer {
  align-self: center;
  margin-top: 2%;
  display: flex;
  height: 80%;
  width: 80%;
  justify-content: space-evenly;
}
.listContainer {
  margin-top: 2%;
  height: 80%;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.postForm {
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid tomato;
  border-radius: 20px;
  background-color: white;
}
.postForm input {
  width: 100%;
}
.postForm textarea {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
  width: 80%;
  margin: 20px 3%;
  position: relative;
}
:focus {
  outline: none;
}
.input {
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
.input ~ .focusBorder {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: tomato;
  transition: 0.4s;
}
.input:focus ~ .focusBorder,
.input:valid ~ .focusBorder {
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.input ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: -15px;
  color: rgb(61, 61, 61);
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.input ~ label {
  position: absolute;
  left: 0;
  width: 100%;
  top: -15px;
  color: rgb(61, 61, 61);
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}
.input:focus ~ label,
.input:valid ~ label {
  top: -18px;
  font-size: 12px;
  color: tomato;
  transition: 0.3s;
}

input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.postFormSubmitButton {
  margin-bottom: 30px;
  width: 30%;
  background: rgb(92, 221, 135);
}

.textarea {
  width: 100%;
  align-content: center;
  font-size: 16px;
}

.submitButtonsContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.postFormBeer {
  margin-top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postFormBeer input {
  height: 2em;
  width: 100%;
}
.postFormInfoPost {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.postrow1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 32em;
}
.InfoPostCheckboxes {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.postFormInfoPost input {
  height: 2em;
  width: 100%;
}
.postFormInfoPost textarea {
  margin-top: 5px;
  height: 5em;
  width: 100%;
}

.postFormCountable {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postFormCountable input {
  height: 2em;
  width: 15em;
}

.beerCheckbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkbox {
  transform: scale(0.8);
}

.checkboxDiscount {
  margin-top: 2%;
  transform: scale(1.8);
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 29em;
}
.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 29em;
}
.row3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 29em;
}
.row4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 29em;
  margin-bottom: 5%;
}

.countablerow {
  margin-top: 5px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  width: 29em;
}

.postEditButton {
  margin-top: 20px;
  background-color: tomato;
  height: 2rem;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
  font-size: 13px;
  font-weight: 900;
  color: white;
  cursor: pointer;
}

.postFormSubmitButton {
  width: 40%;
  margin-top: 20px;
  background-color: tomato;
  height: 2rem;
  border-radius: 8px;
  border: none;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 900;
  color: white;
}
.postFormSubmitButton:hover {
  background-color: rgb(142, 216, 142);
  cursor: pointer;
}

.imageInput {
  margin-top: 10%;
  margin-bottom: 5%;
}

.uploadGroup {
  padding-bottom: 5%;
}

.specificType {
  margin-top: 5%;
  width: 90%;
}

.GenericTypeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-size: 14px;
  margin-top: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
}

.componentTitle {
  color: white;
  font-size: 18px;
}
