.containerFooter {
  background-image: repeating-linear-gradient(
      45deg,
      rgba(30, 30, 30, 0.1) 0px,
      rgba(30, 30, 30, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(90deg, rgb(43, 43, 43), rgb(43, 43, 43));
  color: white;
}

.containerFooter .footer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px black inset;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  filter: invert(100%);
}

.containerLogo img {
  color: white;
  width: 250px;
  align-self: center;
}

.containerLogo span {
  color: black;
  width: 400px;
  align-self: center;
}

.descriptionFooter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-left: 50px;
}

.descriptionFooter div {
  width: 23%;
  margin-left: 10px;
  margin-right: 10px;
}

.quienesSomos {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.quienesSomos span {
  align-self: center;
}

.redes {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.redes div {
  display: flex;
  align-self: center;
  margin-left: 0px;
  width: 100%;
  justify-content: center;
}
.redes span {
  align-self: center;
}

.redes h4 {
  margin: 0px;
  font-size: 30px;
}

.iconIg,
.iconFb {
  transition: all 300ms;
}

.iconIg:hover,
.iconFb:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.ig,
.fb {
  margin-top: 20px;
  margin-left: 5px;
}

.desarrollado {
  align-self: end;
  justify-items: end;
  margin-top: 50px;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 3px;
}

.desarrollado h3 {
  font-size: 15px;
  margin: 0px;
}

.contactanos {
  display: flex;
  flex-direction: column;
}

.contactanos span {
  align-self: flex-start;
  margin-left: 18px;
}

.contactInfo {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 100%;
}

.infoWp,
.infoGm {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0px;
}

.infoWp {
  margin-bottom: 5px;
}

.infoGm {
  align-items: flex-end;
}

.infoGm span {
  margin-top: 6px;
  margin-left: 10px;
}

.infoWp span {
  margin-top: 6px;
  margin-left: 10px;
  margin-top: 25px;
}

.iconWp,
.iconGm {
  font-size: 23px;
}

.wp,
.gm {
  cursor: pointer;
  height: 20px;
  transition: all 300ms;
  padding: 3px;
}

.wp:hover,
.gm:hover {
  transform: scale(1.1, 1.1);
}

@media only screen and (max-width: 1024px) {
  .descriptionFooter {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .descriptionFooter div {
    width: unset;
    margin: 10px;
  }
  .containerLogo span {
    width: unset;
  }
  .desarrollado {
    align-self: unset;
  }
}
