.modalFavorites {
  position: absolute;
  height: 200%;
  top: 0;
  left: 0;
  right: 0;
}

.modalContentFavorites {
  position: absolute;
  top: 10vh;
  left: 62.5vw;
  display: flex;
  align-items: flex-start;
  width: 10vw;
  height: 28vh;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: grey;
  border: 2px solid rgb(3, 3, 3);
}
