.modalFavorites {
  position: absolute;
  height: 200%;
  top: 0;
  left: 0;
  right: 0;
}

.modalContentFavorites {
  position: absolute;
  top: 13vh;
  left: 57vw;
  display: flex;
  align-items: flex-start;
  width: 12.2rem;
  height: 17.2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: lightgray;
  border: 2px solid rgb(3, 3, 3);
}
