.container {
	display: flex;
	flex-direction: column;
	margin: 5vh 10vw;
}

.filter {
	margin: 2vh 0;
}

.select{
	background-color: white;
	border: none;
	padding: 0.3%;
}
.subcontainer {
	margin: 1vh 2vw;
	padding: 2rem;
	width: 100%;
	margin: auto;
}

.detail {
	display: flex;
	flex-direction: column;
}

.subdetail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* //////////////////////// */

.mainContainer{
	margin-top: 3%;
	height: 100%;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
	height: 77%;
	overflow-y: scroll;
    scroll-behavior:smooth;
}

.subcontainer {
	background-color: white;
	width: 90%;
	padding: 2rem;
	margin-top: 2%;
	border-radius: 0.7rem;
}

.detail {
	display: flex;
	flex-direction: column;
}

.subdetail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.imgHistory{
	max-width: 6rem;
	max-height: 6rem;
	border-radius: 10%;
}

.title{
	margin: 0;
	font-weight: 800;
}

.props{
	margin:1%
	;
}

.imgContainer{
	width: 6rem;
}

.dataContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 15rem;
}
.countableContainer{
	display: flex;
	flex-direction: column;
}
.propsContainer{
	display: flex;
	justify-content: space-evenly;
	width: 15rem;
}

.Button{
    width: 50rem;
    margin-top: 20px;
    background-color:#69C3C4;
    height: 2rem;
    border-radius: 8px;
    border:none;
	text-decoration: none;
    transition:0.3s;
    font-size: 18px;
    font-weight: 600;
    color:white;
	padding: 0.5%
}

.Button:hover{
	cursor: pointer;
	filter: brightness(1.15);
}