.container {
	display: flex;
	flex-direction: column;
	margin: 5vh 10vw;
}

.subcontainer {
	margin: 1vh 2vw;
	padding: 2rem;
	width: fit-content;
	margin: auto;
}

.detail {
	display: flex;
	flex-direction: column;
}

.subdetail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}