.itemCarrito{
    display:flex;
    justify-content:space-between;
    /* padding:10px; */
    align-items:center;
    /* background: linear-gradient(180deg, #69C3C4 0%, rgba(105, 195, 196, 0.51) 100%); */
    color:black;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    border-radius: 30px;
    margin:20px;
}
.itemCarrito a h1 {
    margin:0;
}

.Link{
    margin-top: 30px;
    text-decoration: none;
    color:white;
    font-weight:900;
    cursor:pointer;
}
.Link h1{
    margin-bottom: 10px;
    text-decoration: none;
    color:white;
    font-weight:900;
}
.titleContainer{
    margin-top:-20px;
    padding:0 0 10px 10px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100px;
}

.deletebutton{
    margin-bottom: 50px;
    border:none;
    color:red;
    font-size: 20px;
    font-weight:bold;
    cursor:pointer;
}

.modifyContainer{
    display:flex;
    flex-direction:row-reverse;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}
.modifyContainer button{
    border:none;
    cursor:pointer;
}

.amount {
    padding: px;
    padding-right: 50px;
    max-width: 150px;
    font-size: 40px;
    font-weight: 500;
}

.priceAndDelete{
    display: flex;
    flex-direction: column;
}