.carousel {
	width: 10vw;
}

.card {
	width: 9.7vw;
	border-radius: 1rem;
	border: none;
}

.unfav {
	width: fit-content;
	margin: auto;
	background-color: inherit;
	border: none;
	transform: scale(1.3);
	transition: 500ms;
	cursor: pointer;
}

.unfav:hover {
	transform: scale(1.2);
}