.carousel {
  width: 40%;
  margin: auto;
}

.card {
  width: 100%;
  border-radius: 1rem;
}

.unfav {
  width: fit-content;
  margin: auto;
  background-color: inherit;
  border: none;
  transform: scale(1.3);
  transition: 500ms;
  cursor: pointer;
}

.unfav:hover {
  transform: scale(1.2);
}
