.container {
  display: flex;
  height: 85vh;
}

.subcontainer {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.orderBar {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.filtersTab {
  display: flex;
  align-items: flex-start;
  height: 85vh;
  background: radial-gradient(50% 50% at 50% 50%, #404143 0%, #242021 100%);
  color: aliceblue;
  font-size: 0.7em;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.699);
  z-index: 1;
}

.filtersTab > button {
  height: 100%;
  width: 3vw;
  height: 85vh;
  transition: 250ms;
  font-size: large;
  background-color: lightgray;
}

.filtersTab > button:hover {
  background-color: #f49e51;
  font-size: x-large;
}

#cards {
  /*  height: 10px; */
}
